// @import debug;

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

div#gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}

header h1 {
  text-align: center;
}

a.photo {
  margin: 10px;
}


input#search {
  height: 35px;
  width: 60%;
  margin: 20px 20%;
  border: 2px solid #ccc;
  border-radius: 10px;
  &:focus {
    outline: none;
  }
}

#noPhotos {
  display: none;
  margin: 0 auto;
}


// ? light box styles
.lb-data .lb-caption {
  font-size: 25px;
  margin-top: 10px;
}

.lb-nav {
  a.lb-prev, a.lb-next {
    opacity: 0.8;
  }
}


