body
  font-family: 'Open Sans Condensed', sans-serif

div#gal
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  width: 80%
  margin: auto
  @media(min-width: 1024px)
    justify-content: space-between



a.photo
  margin: 10px

span.lb-number
  display: none !important

input#search
  height: 35px
  width: 60%
  margin: 20px 20%
  border: 2px solid grey
  border-radius: 10px


// light box styles
.lb-data .lb-caption
  font-size: 25px
  margin-top: 10px

.lb-nav 
  a.lb-prev, a.lb-next
    opacity: 0.8


@import debug