doctype html
html(lang='en')
  head
    title Photo Gallery
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='node_modules/normalize.css/normalize.css')
    link(rel='stylesheet', href='node_modules/lightbox2/dist/css/lightbox.min.css')
    link(href="node_modules/@openfonts/open-sans-condensed_all/index.css" rel="stylesheet")
    link(rel='stylesheet', href='css/styles.css')
    include ./_favicon.pug
  body
    header
      h1 Photo Gallery
    main
      input(type="text" spellcheck="false")#search
      div#gallery
    footer
    //- jQuery
    script(src='node_modules/jquery/dist/jquery.js')
    //- lightbox2
    script(src='node_modules/lightbox2/dist/js/lightbox.min.js')
    //- Custom
    script(src='script.js')
