doctype html
html(lang='en')
  head
    title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
    link(rel='stylesheet', href='css/styles.css')
    include _favicon
  body
    header
    main
    footer
    //- jQuery
    script(src='bower_components/jquery/dist/jquery.js')
    //- Custom 
    script(src='script.js')